<!DOCTYPE html>
<html>
<head>
  <title>PerfectFit</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">
		<div id="logo">
			<%= image_tag "PerfectFit_Logo.png" %>
		</div>
		<nav id="navigation">
			<ul>
				<% if current_user %>
				<li><%= link_to "Profile", "/show_profile" %></li>
				<div>
					<ul>
						<li><%= link_to "Edit Profile", "/edit_profile" %></li>
					</ul>
				</div>
				<li><%= link_to "Dashboard", "/dashboard" %></li>
				<div>
					<ul>
						<li><%= link_to "Add New Activity", "/log_activity" %></li>
					</ul>
				</div>
				<li> <%= link_to "Log Out", logout_path %> </li>
				<% else %>
				<li> <%= link_to "Sign Up", signup_path %></li>
				<li> <%= link_to "Log In", login_path %></li>
			</ul>
		</nav>
	</div>

		<% end %>

		



		<% flash.each do |name, msg| %> 
		<%= content_tag :div, msg, :id => "flash_#{name}" %> 
		<% end %> 
		
<%= yield %>
</div>

</body>
</html>
