<% if false %>
This page is rendered for all pages throughout the website unless overridden (which we do not do). The main feature coded here is the navigation bar, which is formatted in the stylesheets. Certain links will not show based on whether the user is logged in or not and whether they are an admin or not.

<%= yield %> is the tag that is a placeholder for the content of each individual page. Therefore, because it is enclosed by the "container" div, that is how we get everything to appear in a white box centered on the page.
<% end %>

<!DOCTYPE html>
<html>
<head>
  <title>PerfectFit</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>



</head>

<header>
	<div id="logo">
		<%= link_to (image_tag "PerfectFit_Logo.png"), "/"  %>
	</div>
	<nav>
		<ul>
			<% if current_user %>
				<% if current_user.admin %>
				<li><%= link_to "Admin Panel", "/users" %></li>
				<% end %>
			<li><%= link_to "Profile", "/show_profile" %></li>
			<li><%= link_to "Dashboard", "/dashboard" %></li>
			<li><%= link_to "Report", "/report" %></li>
			<li><%= link_to "Healths", "/healths" %></li>
			<li><%= link_to "Log Out", logout_path %></li>
			<% else %>
			<li><%= link_to "Sign Up", signup_path %></li>
			<li><%= link_to "Log In", login_path %></li>
			<% end %>
		</ul>
	</nav>
		
</header>

		<% flash.each do |name, msg| %> 
		<%= content_tag :div, msg, :id => "flash_#{name}" %> 
		<% end %> 

<body>
<div id="container">		
<%= yield %>
</div>

</body>
</html>
