<%= form_for(@health) do |f| %>
  <% if @health.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@health.errors.count, "error") %> prohibited this health from being saved:</h2>

      <ul>
      <% @health.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :user_id %>
  </div>
    <p>
    <div class="field">
    Date:<br>
    <%= f.datetime_select :date, { :class => 'date'}, :html_options => {size: 1} %>
  </div>
  <p>
  <div class="field">
    Health Indicator:<br>
    <%= f.select :log_type, options_for_select(['Blood Pressure','Body Mass Index','Cholesterol','Heartrate','Meal','Sleep','Weight']), {:required => true, :prompt => 'Select new health indicator'}, {:onchange => "display()"} %>
  </div>
  <p>
   <div class="field" id="Blood Pressure" style="display: none">
    Enter blood pressure:<br>
    <%= f.text_field :BP %>
  </div>
  <div class="field" id="Body Mass Index" style="display: none">
    Enter body mass index (BMI):<br>
    <%= f.text_field :BMI %>
  </div>
    <div class="field" id="Cholesterol" style="display: none">
    Enter cholesterol level:<br>
    <%= f.text_field :cholesterol %>
  </div>
  <div class="field" id="Heartrate" style="display: none">
    Enter heartbeats per minute (BPM):<br>
    <%= f.number_field :BPM %>
  </div>
  <div class="field" id="Meal" style="display: none">
    Enter food eaten:<br>
    <%= f.text_field :food %>
    <p>
    Enter calories:<br>
    <%= f.number_field :calories %>
  </div>
  <div class="field" id="Sleep" style="display: none">
    Enter hours and minutes slept:<br>
    <%= f.number_field :hours, :size => 2 %> :
    <%= f.number_field :minutes, :size => 2 %>
    
  </div>
  <div class="field" id="Weight" style="display: none">
    Enter weight:<br>
    <%= f.number_field :weight %>
  </div>
  <p>
  <div class="actions">
    <%= f.submit %>
  </div>
  <p></p>
<% end %>
