<h1>Listing healths</h1>

<table>
  <thead>
    <tr>
      <th>Log type</th>
      <th>Log date</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @healths.each do |health| %>
      <tr>
        <td><%= health.log_type %></td>
        <td><%= health.date.to_time.strftime('%m/%e/%y at %l:%M %p') %></td>
        <td><%= link_to 'Show', health %> | <%= link_to 'Edit', edit_health_path(health) %> | <%= link_to 'Delete', health, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Health', new_health_path %>
