  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, :required => true %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, :required => true %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.radio_button :gender, "Male"  %>Male
    <%= f.radio_button :gender, "Female"  %>Female
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.number_field :weight %>
  </div>
  <div class="field">
  <%= f.label :time_zone %><br />
  <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %>
</div>
  <div class="field">
    <%= f.label :zipcode %><br>
    <%= f.number_field :zipcode %>
  </div>
  <div class="field">
    <%= f.label :birthday %><br>
    <%= f.date_select :birthday, :end_year => 1900, :start_year => Date.today.year %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id %>
  </div>