<h1> Dashboard </h1>
 <div class="layer2">
<p class="heading2"><%= link_to 'Add New Activity', '/log_activity' %></p>
<p class="heading2"><%= link_to 'Add New Health Indicator', new_health_path %></p>
<p class="heading2"><%= link_to 'Edit Profile', '/edit_profile' %></p>
</div>

<br>
<br>
 <div class="layer2">
<p class="heading2"><%= link_to "1 Week", "/dashboard?display=#{1.weeks.ago}" %></p>
<p class="heading2"><%= link_to "1 Month", "/dashboard?display=#{1.month.ago}" %></p>
<p class="heading2"><%= link_to "3 Month", "/dashboard?display=#{3.month.ago}" %></p>
<p class="heading2"><%= link_to "6 Month", "/dashboard?display=#{6.month.ago}" %></p>
<p class="heading2"><%= link_to "1 Year Ago", "/dashboard?display=#{1.year.ago}" %></p>
<p class="heading2"><%= link_to "Since Sign Up", "/dashboard?display=#{@user.created_at}" %></p>
</div>

<table>
  <tr valign="top">
    <td style="width:50%">
      <div  style="width:100%">
        <div  style="height:400px">
          <h1> Calories Graph</h1>
          <%= content_tag :div, "", id: "calories_chart", data: {calories: @user.chart_data} %>
        </div>
        
        <div class="layer1">
          <br>
          <br>
          <br>
          <p class="heading" title="Click to hide or show">Heartrate</p>
          <div class="content">
          <table style="width:100%">
            <thead>
              <tr>
                
                <th>Date </th>
                <th>Heartrate</th>
                <th>Options</th>
              </tr>
            </thead>

            <tbody>
              <% @user.healths.where(log_type:  'Heartrate').where('date >= ?', @user.display_time).each do |health| %>
                <tr>
                 
                  <td><center><%= health.date.to_time.strftime('%m/%e/%y') %></center></td>
                  <td><center><%= health.BPM %></center></td>
                  <td><center><%= link_to 'Show', health %> | <%= link_to 'Delete', health, method: :delete, data: { confirm: 'Are you sure?' } %></center></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        </div>

        <div class="layer1" >
          <br>
          <br>
          
          <p class="heading" title="Click to hide or show">Cholesterol</p>
          <div class="content">
          <table style="width:100%">
            <thead>
              <tr>
                
                <th>Date </th>
                <th>Cholesterol</th>
                <th>Options</th>
              </tr>
            </thead>

            <tbody>
              <% @user.healths.where(log_type:  'Cholesterol').where('date >= ?', @user.display_time).each do |health| %>
                <tr>
                 
                  <td><center><%= health.date.to_time.strftime('%m/%e/%y') %></center></td>
                  <td><center><%= health.cholesterol %></center></td>
                  <td><center><%= link_to 'Show', health %> | <%= link_to 'Delete', health, method: :delete, data: { confirm: 'Are you sure?' } %></center></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        </div>

        <div class="layer1">
          <br>
          <br>
          <p class="heading" title="Click to hide or show"> Activities </p>
          <div class="content">
          <table style="width:100%">
            <thead>
              <tr>
                <th>Date & Time</th>
                <th>Activity type</th>
                <th>Duration</th>
                <th>Calories</th>
                <th>Options</th>
              </tr>
            </thead>

            <tbody>
              <% @user.activities.where('date >= ?', @user.display_time).each do |activity| %>
                <tr>
                  <td><center><%= activity.date.to_time.strftime('%m/%e/%y at %l:%M %p') %></center></td>
                  <td><center><%= activity.activity_type %></center></td>
                  <td><center><%= activity.duration_text %></center></td>
                  <td><center><%= activity.calories %></center></td>
                  <td><center><%= link_to 'Show', activity %>  | <%= link_to 'Delete', activity, method: :delete, data: { confirm: 'Are you sure?' } %></center></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        </div>


      </div>
    </td>

    <td>
      <div  style="width:100%">
        <div  style="height:400px">
          <h1> Weight</h1>
          <%= content_tag :div, "", id: "weight_chart", data: {weight: @user.healths_chart_data, target: @user.target} %>
        </div>
        
          <div class="layer1">
          <br>
          <br>
          <br>
          <p class="heading" title="Click to hide or show"> Weight </p>
          <div class="content">
          <table style="width:100%">
            <thead>
              <tr>
                
                <th>Date & Time</th>
                <th>Weight</th>
                <th>Options</th>
              </tr>
            </thead>

            <tbody style="width:100%">
              <% @user.healths.where(log_type:  'Weight').where('date >= ?', @user.display_time).each do |health| %>
                <tr>
                  <td><center><%= health.date.to_time.strftime('%m/%e/%y at %l:%M %p') %></center></td>
                  <td ><center><%= health.weight %></center></td>
                  <td ><center><%= link_to 'Show', health %> | <%= link_to 'Delete', health, method: :delete, data: { confirm: 'Are you sure?' } %></center></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <div class="layer1">
          <br>
          <br>
          <p class="heading" title="Click to hide or show"> Meals </p>
          <div class="content">
          <table style="width:100%">
            <thead>
              <tr>
                
                <th>Date & Time</th>
                <th>Meal</th>
                <th>Calories</th>
                <th>Options</th>
              </tr>
            </thead>

            <tbody>
              <% @user.healths.where(log_type:  'Meal').where('date >= ?', @user.display_time).each do |health| %>
                <tr>
                 
                  <td><center><%= health.date.to_time.strftime('%m/%e/%y at %l:%M %p') %></center></td>
                  <td><center><%= health.food %></center></td>
                  <td><center><%= health.calories %></center></td>
                  <td><center><%= link_to 'Show', health %> | <%= link_to 'Delete', health, method: :delete, data: { confirm: 'Are you sure?' } %></center></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        </div>
      </div>

        <div class="layer1">
          <br>
          <br>
          <p class="heading" title="Click to hide or show">Sleep</p>
          <div class="content">
          <table style="width:100%">
            <thead>
              <tr>
                
                <th>Date </th>
                <th>Duration</th>
                <th>Options</th>
              </tr>
            </thead>

            <tbody>
              <% @user.healths.where(log_type:  'Sleep').where('date >= ?', @user.display_time).each do |health| %>
                <tr>
                 
                  <td><center><%= health.date.to_time.strftime('%m/%e/%y') %></center></td>
                  <td><center><%= health.sleep_text %></center></td>
                  <td><center><%= link_to 'Show', health %> | <%= link_to 'Delete', health, method: :delete, data: { confirm: 'Are you sure?' } %></center></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        </div>
      </div>

    </td>
  </tr>
</table>