<h1> Profile </h1>
<p>
   <strong>Email Address:</strong>
  <%= @user.email %>
</p>

<p>
   <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.profile.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.profile.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.profile.gender %>
</p>

<p>
  <strong>Target Wight:</strong>
  <%= @user.profile.weight %>
</p>
<p>
  <strong>Height in Inches:</strong>
  <%= @user.profile.height %>
</p>


<p>
  <strong>Zipcode:</strong>
  <%= @user.profile.zipcode %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user.profile.birthday %>
</p>

<p>
