


<h1>Listing activities</h1>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Activity type</th>
      <th>Duration</th>
      <th>Calories</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.date %></td>
        <td><%= activity.activity_type %></td>
        <td><%= activity.duration %></td>
        <td><%= activity.calories %></td>
        <td><%= link_to 'Show', activity %> | <%= link_to 'Edit', edit_activity_path(activity) %> | <%= link_to 'Delete', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', "/log_activity" %>
